body{
  background-color: #88bef5;
  color:black;
}

h1{
  font-family: Futura;
  font-size: 3em;
  width:100%;
  text-align:center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.exp{
  left: 50%;
  margin-left: -150px;
  position:absolute;
  width:300px;
  height:300px;
}
